#sample {
    position: relative;
    height: calc(100vh - 100px);
  }
  #myDiagramDiv {
    height: inherit;
    width: 100%;
    box-sizing: border-box;
  }
  #mySearch {
    width: 75%;
  }
  .search {
    position: absolute;
    height: 40px;
    top: 120px;
    left: 10px;
    background-color: #f2f2f2;
    z-index: 300; /* make sure its in front */
    display: inline-flex;
  }
  #myOverviewDiv {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    left: 10px;
    background-color: #f2f2f2;
    z-index: 300; /* make sure its in front */
    border: solid 1px #7986cb;
  }