.other-acc {
    width: 65%;
    height: 20px;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid $border-inactive;
    text-align: center;
    position: relative;
    h3 {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      color: $color-inactive;
      background: $bg;
      position: absolute;
      left: 22%;
      top: 5px;
    }
  }
  .img_list{
    @extend %space_around;
    .icon {
      img {
        width: 64px;
        height: 64px;
      }
    }
  }